$fa-font-path: "~font-awesome/fonts";
$primary: #ebeef5;
$secondary: #0c16b4;
@import "~font-awesome/scss/font-awesome";
@import "~bootstrap/scss/bootstrap";

.ratio-292x350 {
  --bs-aspect-ratio: calc(292 / 350 * 100%);
}

.object-fit-cover {
  object-fit: cover;
}

.backgroundHero {
  background: rgb(66, 148, 23);
  background: linear-gradient(90deg, rgba(66, 148, 23, 1) 37%, rgba(18, 32, 180, 1) 69%, rgba(7, 12, 66, 1) 95%);
}

.background {
  background: rgb(66, 148, 23);
  background: linear-gradient(90deg, rgba(66, 148, 23, 0.6) 37%, rgba(18, 32, 180, 0.6) 69%, rgba(7, 12, 66, 0.5) 95%);
}

.hr-dashed {
  border-top: 2px dotted;
  background: white;
}